@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #3B4252;
}

/* CUSTOMS */
.color-bg-one {
    background-color: #2E3440;
}

.color-bg-two {
    background-color: #E9ECEF;
}

.color-bg-three {
    background-color: #212529;
}

.color-one {
    color: #ECEFF4;
}

.color-two {
    color: #0d0d0d;
}

.color-three {
    color: #ADB5BD;
}

/* NAVBAR */

#navbar-icon {
    height: 3.2rem;
}

.navbar-toggler {
    color: #f8f9fa;
    border-color: #f8f9fa;
}


.nav-item a {
    font-size: 1.3rem;
}

.navbar-brand:hover {
    color: #F8F9FA
}

#bottom-navbar li a {
    text-decoration: none;
}

#bottom-navbar li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #f8f9fa;
    margin: auto;
    display: block;
}

#bottom-navbar li a:hover {
    color: #f8f9fa;
}

#bottom-navbar li a:hover::after {
    width: 100%;
    transition: width 0.2s linear;
}

/* HOME SECTION */
#home-container {
    font-family: "ubuntu", sans-serif;
}

#home {
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .3);
}

#home-desc {
    color: #D8DEE9;
    font-size: 1.15rem;
}

#home-desc h2 {
    font-size: 2rem;
}

#my-photo {
    height: 12em;
}

#navbar-email {
    text-decoration: none;
    padding: 0.4em 1em;
    border: 2px solid #ECEFF4;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #ECEFF4;
}

#navbar-email::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #ECEFF4;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#navbar-email:hover::before {
    width: 105%;
}

#navbar-email:hover {
    color: #111;
}

@media(min-width: 768px) {
    #home-container {
        margin-top: 100px;
    }

    #home-desc h2 {
        font-size: 3.7rem;
    }

    #home-desc p {
        font-size: 1.4rem;
    }

    #socials-links i {
        font-size: 2.5rem;
    }

    #my-photo {
        height: 28em;
    }

    #navbar-email {
        padding: 0.8em 1.8em;
        font-size: 16px;
    }
}

/* ABOUT ME */
#about {
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .3);
}

#about h3 {
    font-size: 1.8rem;
}

#about p {
    font-size: 1rem;
}

@media(min-width: 768px) {
    #about h3 {
        font-size: 2.2rem;
    }

    #about p {
        font-size: 1.3rem;
    }
}

/* TEC SECTION */

#tecs h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

#tecs p {
    line-height: 20px;
    font-size: 1.2rem;
}

#tec-icon {
    width: 2.8rem;
}

.stacks-resize {
    width: 3.6rem;
}

@media(min-width: 768px) {
    #tec-icon {
        width: 3.8rem;
    }

    .stacks-resize {
        width: 4.5rem;
    }
}

/* PRJ-CONTAINER */
.carousel-inner {
    height: 28em;
}

#prj-links li a {
    color: #0d0d0d;
    text-decoration: none;
}

#prj-links li::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #0d0d0d;
    margin: auto;
    display: block;
}

#prj-links li:hover::after {
    width: 100%;
    transition: width 0.2s linear;
}

@media(min-width: 768px) {
    .carousel-inner {
        height: 50em;
    }

    .carousel-control-prev-icon {
        background-image: url("/assets/icons/arrow-left-circle.svg");
    }

    .carousel-control-next-icon {
        background-image: url("/assets/icons/arrow-right-circle.svg");
    }
}

@media(min-width: 1200px) {
    .carousel-inner {
        height: 60em;
    }
}

/* FOOTER */
#footer .footer-column {
    padding: 1.2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#footer h4 {
    text-transform: uppercase;
}

#footer a {
    color: #DEE2E6;
    text-decoration: none;
}

#bottom-animation li::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #f8f9fa;
    margin: auto;
    display: block;
}

#bottom-animation li:hover::after {
    width: 60%;
    transition: width 0.2s linear;
}

#footer-page-links {
    font-size: 1.3rem;
}

#footer-ctt {
    border-top: 1px solid #F8F9FA;
    border-bottom: 1px solid #F8F9FA;
}

#footer-ctt ul {
    font-size: 1.1rem;
}


#footer-socials ul {
    width: 50%;
    margin-left: 25%;
}

#footer-socials i {
    font-size: 1.5rem;
}

@media(min-width: 992px) {
    #bottom-animation li::after {
        content: '';
        width: 0;
        height: 3px;
        background-color: #f8f9fa;
        margin: auto;
        display: block;
    }

    #bottom-animation li:hover::after {
        width: 45%;
        transition: width 0.2s linear;
    }

    #footer-socials ul {
        width: 65%;
    }

    #footer-ctt {
        border-left: 1px solid #F8F9FA;
        border-right: 1px solid #F8F9FA;
        border-top: none;
        border-bottom: none;
    }
}